:root {
  --accent-background: #2f303a;
  --secondary-background: #f5f4fa;

  --primary-font-family: 'Roboto', sans-serif;

  --accent-color: #2196f3;
  --text-color: #757575;
  --title-color: #212121;
  --secondary-title-color: #ffffff;

  --footer-contaks-color: rgba(255, 255, 255, 0.6);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font-family);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* base styles */
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
h2,
h3,
h4,
h5 {
  color: var(--title-color);
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
ul {
  list-style: none;
}
img {
  display: block;
}
/* button */

button {
  background-color: var(--secondary-background);
  color: var(--title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  border-radius: 4px 4px 4px 4px;
  border: 0px;
  padding: 6px 22px 6px 22px;

  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  /* transition-property: ; */
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
button:hover,
button:focus,
button.active {
  background-color: var(--accent-color);
  color: var(--secondary-title-color);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--secondary-title-color);
  background-color: var(--accent-color);

  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;
  cursor: pointer;
}

/* header */

header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

header .container {
  display: flex;
  justify-content: space-between;
}
header a {
  display: inline-block;
  padding: 32px 0px;
}

nav {
  display: flex;
}
.header-nav a {
  position: relative;
}

.header-nav a.active::after {
  position: absolute;
  content: '';
  background: var(--accent-color);
  border-radius: 2px;
  height: 4px;
  width: 100%;
  bottom: -1px;
  left: 0;
}

.logo {
  color: #212121;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
header .logo {
  padding: 24px 0px 25px;
}
.logo span {
  color: var(--accent-color);
  font-weight: 700;
}

nav a {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav {
  display: flex;
  margin-left: 93px;
}

.header-nav li:not(:last-child) {
  margin-right: 50px;
}

.contact-links li:not(:last-child) {
  margin-right: 50px;
}

.contact-links a {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
nav a:not(.logo):hover,
nav a:not(.logo):focus,
nav a:not(.logo).active,
.contact-links a:hover,
.contact-links a:focus {
  color: var(--accent-color);
}

.envelope {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.smartphone {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.contact-links {
  display: flex;
}

.contact-links a {
  display: flex;
}

/* hero styles */

.hero {
  background-color: var(--accent-background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./img/hero.jpg);
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

.hero .container {
  flex-direction: column;
}

/* quality */
.quality {
  padding-top: 94px;
  padding-bottom: 47px;
}
.quality h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.quality ul {
  display: flex;
}
.quality li {
  width: 270px;
}
.quality li:not(:last-child) {
  margin-right: 30px;
}

.quality-container {
  width: 270px;
  height: 120px;
  background-color: var(--secondary-background);
  border-radius: 4px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.quality-images {
  width: 70px;
  height: 70px;
}

/* what-we-do */
.what-we-do {
  padding-bottom: 94px;
  padding-top: 47px;
}

.what-we-do .container {
  flex-direction: column;
}
.what-we-do h2 {
  margin-bottom: 50px;
}
.what-we-do ul {
  display: flex;
}
.what-we-do li:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}
.what-we-do li {
  position: relative;
}

.what-we-do li .description {
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  padding: 27px;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* team */
.team {
  text-align: center;
  background-color: var(--secondary-background);

  padding-top: 94px;
  padding-bottom: 94px;
}
.team h2 {
  margin-bottom: 50px;
}

.team h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team p {
  font-size: 16px;
  line-height: 1.2;
}

.team ul {
  display: flex;
}

.team .container {
  flex-direction: column;
}

.team-container {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team li {
  background-color: var(--secondary-title-color);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.team li:not(:last-child) {
  margin-right: 30px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.social-links li {
  margin: 0;
  padding: 0px;
  border: 0px;
}
.social-links li:not(:last-child) {
  margin-right: 10px;
}

.social-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

/* clients */

.clients {
  padding: 94px 0px;
}
.clients h2 {
  margin-bottom: 50px;
}

.clients-links {
  display: flex;
}
.clients-links li:not(:last-child) {
  margin-right: 30px;
}

.clients-links a {
  justify-content: center;
  align-items: center;
  display: flex;
  fill: #afb1b8;

  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-links a:hover,
.clients-links a:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* works */

.works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works .container {
  flex-direction: column;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.tab-buttons button {
  cursor: pointer;
}

.tab-buttons li:not(:last-child) {
  margin-right: 8px;
}
.tab-buttons button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works p {
  font-size: 16px;
  line-height: 1.9;
}

.works a {
  color: var(--title-color);
}

/* our-directions */

.our-directions {
  display: flex;
  flex-wrap: wrap;
}

.directions-container a:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-wrapper {
  padding: 20px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.our-directions li {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}
.our-directions .image-wrapper {
  overflow: hidden;
  position: relative;
}

.our-directions a .description {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  padding: 63px 24px;
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.our-directions a:hover .description {
  transform: translateY(0);
}

.our-directions .description p {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: #ffffff;
}

.name-wrapper {
  padding: 30px 32px;
}

.our-directions li:nth-child(3n + 3) {
  margin-right: 0px;
}
.our-directions li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.our-directions a {
  display: flex;
  flex-direction: column;
  position: relative;
}

.our-directions h3 {
  margin-bottom: 4px;
}

/* footer */

footer {
  background-color: var(--accent-background);
  font-family: var(--primary-font-family);

  padding: 60px 0px 60px 0px;
}
footer p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #ffffff;
}

footer .container {
  display: flex;
  align-items: baseline;
}
footer .brand {
  margin-right: 70px;
}
footer .social-links li {
  margin-top: 10px;
}

footer .social-links a {
  margin: 0px;
  background: rgba(255, 255, 255, 0.1);
}

footer address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .logo {
  display: block;
  color: var(--secondary-title-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-top: 0px;
}

footer .logo span {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

footer span {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
footer a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-contaks-color);

  margin-top: 9px;
}

/* modal */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.backdrop .modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background: var(--secondary-title-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal .btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0;
  background: #ffffff;
  cursor: pointer;
  outline: none;
}
